
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.inter-primary {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.noto-serif-secondary {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared CSS */

.hide{
    display: none;
}

body{
    background-color: #f5f8ff;
}

.display-flex{
    display: flex;
}

.main{
    max-width: 1440px;
    margin: 0 auto;
}

.btn-primary{
    width: 100%;
    font-size: 1rem;
    background-color: #E95A08;
    color: white;
    padding: 26px 50px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

/* Nav styles */

.brand-name img{
    width: 100%;
    cursor: pointer;
}

nav{
    justify-content: space-between;
}

nav ul{
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
}

nav a{
    text-decoration: none;
    color: #8987A1;
    font-size: 1rem;
}

#home{
    font-weight: 700;
    color: #252432;
}

#add-to-cart{
    font-size: 1rem;
    color: black;
    cursor: pointer;
}

/* header styes */

.header-container{
    justify-content: space-between;
    align-items: center;
    margin: 120px auto;
}

.header-container div{
    max-width: 570px
}

.section-title{
    max-width: 517px;
    font-size: 4rem;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.section-title span{
    color: #E95A08;
}

.section-description{
    font-size: 1.34rem;
    color: rgba(0, 0, 0, 0.5);
}

.header-container div{
    margin-top: 100px;
}

.header-container div img{
    width: 100%;
}


/* Our Plants styes */



.plants-title{
    font-size: 3.13rem;
    color: black;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;

}

.plants-title span{
    color: #E95A08;
}

.plants-description{
    font-size: 1.38rem;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 888px;
    margin: auto;
    margin-bottom: 49px;
    line-height: auto;
}

.card{
    text-align: center;
}

.card img{
    width: 100%;
}

.card-title{
    font-size: 1.40rem;
    color: #111111;
    font-weight: 500;
    margin-top: 20px;
    line-height: 0;
}

.card-price{
    font-size: 1.40rem;
    font-weight: 700;
    color: #111111;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    column-gap: 20px;
    row-gap: 30px;
    margin-bottom: 200px;
}

/* Flower Store Styles */

.flower-store-img-section{
    position: relative;
}

#store-image{
    width: 100%;
}

#trusted{
    max-width: 286px;
    position:absolute;
    left: 390px;
    top: -140px;
}

.flower-store{
    gap: 150px;
    margin-bottom: 130px;
}

.flower-store-details{
    max-width: 540px;
}

.store-title{
    font-size: 3.13rem;
    font-weight: 700;
    color: black;
}

.store-description{
    font-size: 1.40rem;
    color: rgba(0, 0, 0, 0.5);
}

.store-description li{
    margin-bottom: 20px;
}

/* latest deals styles */

.discount-container div img{
    width: 100%;
    border-radius: 20px;
}

.two-image{
    width: 50%;
    flex-direction: column;
    gap: 15px;

}

.one-image{
    width: 100%;
}

.discount-container{
    gap: 28px;
}

.image-parent{
    position: relative;
}

.dark-bg{
    position: absolute;
    width: 100%;
    height: 99%;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.4);
}

.image-text{
    position: absolute;
    text-align: center;
    top: 80px;
    left: 125px;
}

.images-text{
    position: absolute;
    text-align: center;
    top: 180px;
    left: 260px; 
}

.image-text p{
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    margin-bottom: 13px;
}

.image-text a{
    font-size: 1rem;
    font-weight: 600;
    color: white;
}

.images-text p{
    font-size: 2.50rem;
    font-weight: 700;
    color: white;
    margin-bottom: 13px;
}

.images-text a{
    font-size: 1.75rem;
    font-weight: 600;
    color: white;
}






/* responsive media query */

@media screen and (max-width:576px) {
    nav ul a{
        display: none;
    }
    #add-to-cart{
        width: 110px;
    }

    /* header section */

    .header-container{
        flex-direction: column-reverse;
    }

    .header-container div{
    margin-top: 0;
    }

    .header-container{
        margin-bottom: 65px;
    }

    .header-section{
        padding: 0 16px;
    }

    .section-title{
        font-size: 1.50rem;
        width: 250px;
        margin-bottom: 16px;
    }

    .section-description{
        font-size: 0.88rem;
    }

    /* Our plants section */

    .plants-title{
        font-size: 1.50rem;
    }

    .plants-description{
        font-size: 0.88rem;
        width: 336px;
    }

    .card-container{
        grid-template-columns: repeat(2, 1fr);
        padding: 0 16px;
        margin-bottom: 40px;
    }

    .card-title{
        font-size: 1rem;
        line-height: 0;
        margin-bottom: 10px;
    }

    .card-price{
        font-size: 1rem;
    }

    .btn-primary{
        padding: 16px 20px;
    }

    /* Flower Store */

    .flower-store{
        flex-direction: column;
        gap: 18px;
        margin-bottom: 100px;
    }

    #img-trusted{
        display: none;
    }

    .store-title{
        font-size: 1.50rem;
    }

    .store-description{
        font-size: 0.88rem;
    }

    /* latest deals */

    .plants-description{
        width: 80%;
        margin-bottom: 50px;
    }

    .discount-container{
        flex-direction: column;
        padding: 16px;
    }

    .two-image{
        width: 100%;
    }

    .image-text, .images-text p{
        font-size: 1.25rem;
    }

    .image-text, .images-text a{
        font-size: 1rem;
    }

    .image-text, .images-text{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 10px;
    width: 100%;
}
    
}